@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.article-padding {
  padding: 0 30px;
}

.dropdown {
  /* position: absolute; */
  /* top: 60px; */
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 30px;
  z-index: 99;

  width: 100%;
  right: 0;
  /* backdrop-filter: blur(12px); */
  background: #ffb10f;
  align-items: flex-start;
  row-gap: 15px;

  padding-top: 45px;
  top: 0;

  position: fixed;
  height: 100vh;
  align-items: flex-end;
  padding-right: 30px;
}

.dropdown-logo {
  position: relative;
  margin: auto;
}

.dropdown .link:hover {
  color: #917b52;
  transition: all ease 0.5s;
}

.close-btn:hover {
  color: #917b52;
  transition: all ease 0.1s;
}

.img-container {
  width: 150px;
  height: fit-content;
}

@media screen and (max-width: 600px) {
  .edit-flex {
    flex-direction: column;
  }

  .edit-flex-reverse {
    flex-direction: column-reverse;
  }

  .about-gap {
    row-gap: 2rem;
  }

  .center-items {
    align-items: center;
  }

  .height-edit {
    height: 100%;
  }

  .hero-text-edit {
    margin-left: 20px;
  }

  .hero-text-edit h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.1rem;
  }

  .hero-text-edit button {
    padding: 1px;
    padding-right: 1rem;
  }

  .hero-text-edit button p {
    font-size: 1rem;
  }

  .hero-text-edit button div {
    width: 2rem;
    height: 2rem;
  }

  .hero-img {
    margin-top: 4.5rem;
  }

  .about button {
    padding: 6px 16px;
  }

  /* .card-edit {
    width: 100%;
  } */

  .one {
    width: 100px;
    right: 40%;
    top: 6rem;
  }
  .two {
    right: 2rem;
    width: 65px;
  }
  .three {
    bottom: 7rem;
    width: 100px;
  }

  .footer-edit {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .footer-flex {
    justify-content: center;
    text-align: center;
  }

  .social-flex {
    justify-content: center;
  }
}

@media screen and (max-width: 990px) {
  .article-padding {
    padding: 0 20px;
  }

  .hero-text-edit h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.1rem;
  }
}
